body {
    background-color: grey;
}


ul{
    background-color: black;
}

ul li{
    display: inline;

    color:white;
}

.quizlist li{
    display: block;
}

ul.quizlist{
    background-color: grey;
}